* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #323235;
  background-color: #f6f6f6;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

nav {
  position: fixed;
  padding-top,padding-right,padding-left: 16px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink, .menuLink {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.homeLink:hover, .menuLink:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.menu {
  position: fixed;
  top:13%;
  left:47%;
  width:180px;
  padding: 5px;
  display: none;
  flex-direction: column;
  text-align: start;
  z-index: 999;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.menu.show {
  display: flex;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  padding: 15px 0;
}

.menu ul li:hover {
  background-color: #f1f1f1;
  border-radius: 12px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #323235;
  transition: color 0.2s ease;
}

.menu ul li a:hover {
  color: #007bff;
}

.menu-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.fa-times {
  display: none;
}

.change .fa-bars {
  display: none;
}

.change .fa-times {
  display: block;
}

.footer-icon:hover {
  background-color: #bdbdc5;
  border-radius: 6px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }

  .menu {
    top: 60px;
    right: 10px;
    width: 200px;
  }

  .homeLink, .menuLink {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .menu ul li {
    padding: 10px 0;
  }
}
